.wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 0;
  display: grid
  ;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  align-items: center;
}

.title {
  font-family: var(--font-inter);
  margin: 0 0 12px 0;
}

.desc {
  line-height: 1.7;
  opacity: 0.9;
}

@media (max-width: 900px) {
  .wrap {
    grid-template-columns: 1fr;
  }
}
