:root {
  --bg: #000;
  --fg: #fff;
  --greenish: rgb(171, 252, 170);
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 12px;
  margin: 0;
  background: var(--bg);
  color: var(--fg);
  font-family: var(--font-inter), system-ui, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
button {
  font: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
