.hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 0;
  text-align: left;
}

.title {
  font-family: var(--font-inter);
  margin: 0 0 8px 0;
  font-size: 36px;
  font-weight: 500;
  color: white;
}

.subtitle {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-inter);
}
