.hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 2rem;
  text-align: center;
}

.title {
  font-family: var(--font-inter);
  margin: 0 0 0.5rem 0;
}

.subtitle {
  opacity: 0.8;
  margin: 0;
}
