.wrap {
  position: sticky;
  top: 0;
  z-index: 50;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
  /* border-bottom: 1px solid rgba(255, 255, 255); */

}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 12px 0;
  border-bottom: 1px solid rgba(255, 255, 255);
}

.logo {
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 16px;
}

.nav {
  display: flex;
  gap: 20px;
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 16px;
}

.link {
  opacity: 1;
  transition: opacity 0.2s ease;
  color: white;
}
.link:hover {
  opacity: 1;
  cursor: crosshair;
  color: var(--greenish);
}
